<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_editor.min.css' rel='stylesheet'
    type='text/css' />
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_style.min.css' rel='stylesheet'
    type='text/css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



  <!-- Include JS file. -->
  <script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/js/froala_editor.min.js'></script>
  <style>
    .sticky {
      position: fixed;
      top: 20;
      width: 100%;
    }

    #logo {
      height: 50px;
      width: 50 px;
    }
  </style>

  <title>UMRK Admin</title>
</head>

<body style="background-color: rgb(202, 121, 15) ">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div>
          <img src="/public/logo.png" alt="adminlogo" id="logo">
          <a class="navbar-brand" href="/landing">FSM Admin panel</a>
        </div>
      </div>
      <div>
        <ul class="navbar-nav navbar-right">
          <li>
            <a href="/signup" style="margin-right:20px">Singnup</a>
          </li>
          <li>
            <a href="/login" style="margin-right:20px">Login</a>
          </li>
          <!-- <li>
            <a href="/logout" style="margin-right:20px">Logout</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <div style="background:rgb(202, 121, 15)   !important" class="jumbotron">
    <center>
      <h1 class="display-4">
        Welcome to UMRK messenger chatbot admin panel
      </h1>
    </center>
    <hr class="my-4" />
    <p class="lead">Here you can interact with your chatbot database...</p>
    <hr class="my-4" />
    <h2>
      Follow the below instructions to access the admin panel.
    </h2>
    <hr class="my-4" />
    <p>
      * Please insert 3 options for each don't enter more than 3 options.
    </p>
    <hr class="my-4" />
    <p>
      * Please don't forget to enter the Id for every item you update
    </p>
    <hr class="my-4" />
    <p>
      * Please aware of the options to which you are inserting data.
    </p>
    <hr class="my-4" />
    <p>
      * Please aware when you delete a data from the admin panel.
    </p>
    <hr class="my-4" />
    <div>
      <div class="text-center">
        <h6>Please click the button to access to the database:</h6>
        <a class="btn btn-secondary btn-lg" href="https://mlab.com/login/" role="button">Connect to database</a>
      </div>
      <hr class="my-4" />
    </div>
  </div>
  <% include partials/footer %>