<% include partials/header %>
<div style="background:rgb(202, 121, 15)   !important" class="jumbotron">
  <center>
    <h1 class="display-4">
      Welcome to UMRK messenger chatbot admin panel
    </h1>
  </center>
  <hr class="my-4" />
  <p class="lead">Here you can interact with your chatbot database...</p>
  <hr class="my-4" />
  <h2>
    Follow the below instructions to access the admin panel.
  </h2>
  <hr class="my-4" />
  <p>
    * Please insert 3 options for each don't enter more than 3 options.
  </p>
  <hr class="my-4" />
  <p>
    * Please don't forget to enter the Id for every item you update
  </p>
  <hr class="my-4" />
  <p>
    * Please aware of the options to which you are inserting data.
  </p>
  <hr class="my-4" />
  <p>
    * Please aware when you delete a data from the admin panel.
  </p>
  <hr class="my-4" />
  <div>
    <div class="text-center">
      <h6>Please click the button to access to the database:</h6>
      <a
        class="btn btn-secondary btn-lg"
        href="https://mlab.com/login/"
        role="button"
        >Connect to database</a
      >
    </div>
    <hr class="my-4" />
  </div>
</div>
<% include partials/footer %>
