<% include partials/header %>
<div class="text-center">
    <div style="background:rgb(202, 121, 15)!important" class="jumbotron">
        <h1>Please Login Here</h1>
        <div class="container">
            <form method="POST" action="/login">
                <center>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter your email here:</label>
                        <input type="email" name="email" style="width: 50%" class="form-control my-input" id="email"
                            placeholder="Email">

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter your password here:</label>
                        <input type="password" name="password" style="width: 50%" class="form-control my-input"
                            id="password" placeholder="Password">

                    </div>

                    <div class="text-center">
                        <button type="submit" style="width: 20%" class="btn btn-success">Login</button>
                    </div>
                    <hr class="my-4" />
                </center>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>