<% include partials/header %>
<div class="text-center">
  <div style="background:burlywood !important" class="jumbotron">
    <h1>Please update your Options here</h1>
    <div class="container">
      <form method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput"
            >Please enter your optionId here:</label
          >
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Enter optionId"
          />
          <label for="formGroupExampleInput"
            >Please enter your option here:</label
          >
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Enter option"
          />
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-success">Submit option</button>
        </div>
        <hr class="my-4" />
      </form>
      <div class="container">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
            <tr>
              <td><1124555/td></td>
              <td>Santhosh</td>
              <td>ssk@gmail.com</td>
              <td><664554881/td></td>
              <td>Hyderabad</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
