<% include partials/header %>
<div class="text-center">
    <div style="background:rgb(202, 121, 15)!important" class="jumbotron">
        <h1>Please update user details here</h1>
        <div class="container">
            <form method="post" id="ajax-form-user" action="/updateUser">
                <center>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter user Id here:</label>
                        <input type="text" name="userId" style="width: 50%" class="form-control my-input" id="userId"
                            placeholder="UserId">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter user name here:</label>
                        <input type="text" name="name" style="width: 50%" class="form-control my-input" id="name"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter user email here:</label>
                        <input type="email" name="email" style="width: 50%" class="form-control my-input" id="email"
                            placeholder="Email">

                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Please enter user phone number here:</label>
                        <input type="Number" min="0" name="mobile" style="width: 50%" class="form-control my-input"
                            id="mobile" placeholder="Number">

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Update details</button>
                    </div>
                    <hr class="my-4" />
                </center>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>